body {
  background-color: #202124;
  font-family: arial, sans-serif; }

.link {
  color: #202124;
  background-color: #e8eaed;
  padding: 4px;
  margin: 10px;
  float: right; }

#head {
  color: #f28b82;
  font-size: 36px;
  margin-left: 40px;
  margin-bottom: 40px; }

.form {
  background-color: transparent;
  padding: 20px;
  border-top: 1px solid #e8eaed; }

#top {
  color: #e8eaed;
  font-size: 24px; 
  margin-bottom: 10px; }

.labels {
  color: #e8eaed;
  background-color: transparent;
  width: 200px;
  margin-bottom: 10px;
  display: inline-block; }

.inputdiv {
  display: inline-block; 
  margin-bottom: 10px; }

.inputs {
  color: #e8eaed; 
  background-color: #202124;
  height: 24px;
  width: 570px;
  border: 1px solid #5f6368;
  box-shadow: none;
  padding: 4px; }

#submitdiv {
  background-color: transparent;
  width: 770px;
  float: left;
  margin-top: 10px; }

.submit {
  color: #e8eaed;
  background-color: #4d90fe;
  font-size: 10px;
  font-weight: bold;
  float: right;
  padding: 10px;
  border: none;
  box-shadow: none;
  border-radius: 2px; }
