
a:link, a:visited {
  color: #bdc1c6;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

body {
  background-color: #202124;
  font-family: arial, sans-serif; }

.form {
  background-color: transparent;
  border-top: 1px solid #e8eaed;
  padding: 20px; }

#head {
  color: #f28b82;
  font-size: 36px;
  margin-bottom: 40px;
  margin-left: 40px; }

.inputdiv {
  display: inline-block; 
  margin-bottom: 10px; }

.inputs {
  background-color: #202124;
  border: 1px solid #5f6368;
  box-shadow: none;
  color: #e8eaed; 
  height: 24px;
  padding: 4px;
  width: 570px; }

.labels {
  background-color: transparent;
  color: #e8eaed;
  display: inline-block;
  margin-bottom: 10px;
  width: 200px; }

.link {
  background-color: #e8eaed;
  color: #202124;
  float: right;
  margin: 10px;
  padding: 4px; }

#submitdiv {
  background-color: transparent;
  float: left;
  margin-top: 10px;
  width: 770px; }

.submit {
  background-color: #4d90fe;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  color: #e8eaed;
  float: right;
  font-size: 10px;
  font-weight: bold;
  padding: 10px; }

#top {
  color: #e8eaed;
  font-size: 24px; 
  margin-bottom: 10px; }

