
body {
  background-color: #202124;
  font-family: arial, sans-serif; }

.button {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center; }

#inputBox {
  display: flex;
  justify-content: space-evenly; }

.link {
  margin: 10px;
  padding: 4px; }

#searchBox {
  background-color: #202124;
  border: 1px solid #5f6368;
  border-radius: 24px;
  box-shadow: none;
  color: #e8eaed;
  height: 44px;
  margin: 20px auto;
  position:relative;
  text-align: center;
  width: 640px; }

#topBox {
  align-items: center;
  color: #bdc1c6;
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;
  height: 60px; }

.transparent {
  background-color: transparent; }


