body {
  background-color: #202124;
  font-family: arial, sans-serif; }

.link {
  text-align: right; }

#basic {
  text-align: center; }

.searchBox {
  color: #e8eaed;
  background-color: #202124;
  height: 44px;
  width: 640px;
  margin-top: 20px;
  margin-bottom: 8px;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px; }

#head {
  color: #f28b82;
  font-size: 36px;
  margin-left: 20px;
  margin-bottom: 10px; }

.form {
  background-color: transparent;
  padding: 20px;
  border-top: 1px solid #5f638; }

#top {
  color: #e8eaed;
  font-size: 24px; 
  margin-bottom: 10px; }

.labels {
  color: #e8eaed;
  background-color: transparent;
  width: 200px;
  margin-bottom: 10px;
  display: inline-block; }

div {
  display: inline-block; }

.inputs {
  color: #e8eaed; 
  background-color: #202124;
  height: 24px;
  width: 570px;
  border: 1px solid #5f6368;
  box-shadow: none;
  padding: 4px; }

.submit {
  color: #e8eaed;
  background-color: #4d90fe;
  text-align: right;
  margin-top: 10px; 
  border-radius: 2px;
